﻿<%@ Page Title="Project Summary" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ProjRegSum.aspx.cs" Inherits="Haeger2018.PartOutSalesNA.ProjRegSum" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Head" runat="server">

     <style>
        span1{
            color:#0085ca;
        }
    </style>



</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">


    <div class="container-fluid">    
        <div class="section-title">
            <h2 style="margin: 0;">Haeger North America Project Summary</h2>
            <h3 style="text-transform:initial; color:black; margin:0;">A <span1> PennEngineering&reg</span1> Company</h3>
        </div>
        <br />
          <br />
          <div class="row">
             <div class="col-xs-12">
                <asp:Button ID="btnBackMain" class="btn btn-primary" runat ="server" Text="Back to Main" OnClick="btnBackMain_Click" Width="220px" />
                 &nbsp&nbsp
                 <asp:Button ID="btnProjArchive" class="btn btn-primary"  runat="server" Text="Project Archive" OnClick="btnProjArchive_Click" Width="220px"  />
             </div>
         </div>
        <br />
        <div class="row">
            <div class="col-xs-12">
                <asp:GridView ID="grdProjSum" CssClass="table table-striped table-bordered table-condensed" style="align-content:flex-start" runat="server" AutoGenerateColumns="False" DataKeyNames="column1" DataSourceID="sqlProjSum" OnSelectedIndexChanged="grdProjSum_SelectedIndexChanged" AllowSorting="True" AutoGenerateEditButton="True" AutoGenerateDeleteButton="True">
                    <Columns>
                        <asp:BoundField DataField="column1" HeaderText="column1" ReadOnly="True" SortExpression="column1" Visible="false"/>
                        <asp:BoundField DataField="company" HeaderText="Company" SortExpression="company" />
                        <asp:BoundField DataField="distributorName" HeaderText="Distributor" SortExpression="distributorName" />
                        <asp:BoundField DataField="contactName" HeaderText="Contact Name" SortExpression="contactName" />
                        <asp:BoundField DataField="salesPerson" HeaderText="Sales Person" SortExpression="salesPerson" />
                        <asp:BoundField DataField="projectMachineType" HeaderText="Machine Type" SortExpression="projectMachineType" />
                        <asp:TemplateField HeaderText="Priority Month to Close" SortExpression="priorityMonthToClose">
                            <EditItemTemplate>
                                <asp:DropDownList ID="DropDownList1" runat="server" DataSourceID="sqlPriorityDrp" DataTextField="priorityMonthToClose" DataValueField="priorityMonthToClose" SelectedValue='<%# Bind("priorityMonthToClose") %>'>
                                </asp:DropDownList>
                            </EditItemTemplate>
                            <ItemTemplate>
                                <asp:Label ID="Label1" runat="server" Text='<%# Bind("priorityMonthToClose") %>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                         <asp:TemplateField>
                <ItemTemplate>
                    <asp:Button ID="btnSelect" CssClass="btn btn-default" runat="server" Text="Detail" CommandName = "Select" />
                </ItemTemplate>
            </asp:TemplateField>
                    </Columns>
                </asp:GridView>
                <asp:SqlDataSource ID="sqlProjSum" runat="server" ConnectionString="<%$ ConnectionStrings:ProjRegConnectionString %>" 
                    DeleteCommand="UPDATE [ProjRegData] SET [showNoShow] = 'NoShow'  WHERE [_projID] = @original_column1" 
                                   
                    InsertCommand="INSERT INTO [ProjRegData] ([_projID], [company], [distributorName], [contactName], [salesPerson], [projectMachineType], [priorityMonthToClose]) VALUES (@column1, @company, @distributorName, @contactName, @salesPerson, @projectMachineType, @priorityMonthToClose)" 
                    OldValuesParameterFormatString="original_{0}" 
                    SelectCommand="SELECT [_projID] AS column1, [company], [distributorName], [contactName], [salesPerson], [projectMachineType], [priorityMonthToClose] 
                                    FROM [ProjRegData] WHERE ([showNoShow] = @showNoShow)" 
                    
                    UpdateCommand="UPDATE [ProjRegData] 
                                    SET [company] = @company, [distributorName] = @distributorName, [contactName] = @contactName, [salesPerson] = @salesPerson, 
                                        [projectMachineType] = @projectMachineType, [priorityMonthToClose] = @priorityMonthToClose 
                                    WHERE [_projID] = @original_column1">
                    
                    
                    
                    <DeleteParameters>
                        <asp:Parameter Name="original_column1" Type="String" />
                    </DeleteParameters>
                    <InsertParameters>
                        <asp:Parameter Name="column1" Type="String" />
                        <asp:Parameter Name="company" Type="String" />
                        <asp:Parameter Name="distributorName" Type="String" />
                        <asp:Parameter Name="contactName" Type="String" />
                        <asp:Parameter Name="salesPerson" Type="String" />
                        <asp:Parameter Name="projectMachineType" Type="String" />
                        <asp:Parameter Name="priorityMonthToClose" Type="String" />
                    </InsertParameters>
                    <SelectParameters>
                        <asp:Parameter DefaultValue="Show" Name="showNoShow" Type="String" />
                    </SelectParameters>
                    <UpdateParameters>
                        <asp:Parameter Name="company" Type="String" />
                        <asp:Parameter Name="distributorName" Type="String" />
                        <asp:Parameter Name="contactName" Type="String" />
                        <asp:Parameter Name="salesPerson" Type="String" />
                        <asp:Parameter Name="projectMachineType" Type="String" />
                        <asp:Parameter Name="priorityMonthToClose" Type="String" />
                        <asp:Parameter Name="original_column1" Type="String" />
                    </UpdateParameters>
                </asp:SqlDataSource>
                <asp:SqlDataSource ID="sqlPriorityDrp" runat="server" ConnectionString="<%$ ConnectionStrings:ProjRegConnectionString %>" SelectCommand="SELECT DISTINCT [priorityMonthToClose] FROM [ProjRegData] WHERE ([priorityMonthToClose] IS NOT NULL)"></asp:SqlDataSource>
            </div>


        </div>













    </div>

</asp:Content>
