﻿<%@ Page Title="News" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="UpcomingNews.aspx.cs" Inherits="Haeger2018.UpcomingNews" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Head" runat="server">

    <style>
        span1{
            color:#0085ca;
        }

    </style>


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <div class="container-fluid">    
        <div class="section-title">
            <h2 style="margin: 0;">Haeger Upcoming News</h2>
            <h3 style="text-transform:initial; color:black; margin:0;">A <span1> PennEngineering&reg</span1> Company</h3>
        </div>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                <h3>Quick Directory</h3>
                <hr />
                 <a href="/pdf/UpcomingNews/170110-OP-Oost-A4-Affiche-Project-SHIFT.pdf" target="_blank">S.H.I.F.T.</a>
                <br />
                <a href="/pdf/UpcomingNews/Assembly-Sept18.pdf" target="_blank">Assembly - September 2018</a>
                <br />


            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />




    </div> <%--End container-fluid--%>



</asp:Content>
