.youtube {
    background-color: #ddd;
}

    .youtube .header {
        padding: 10px 10px 0px 10px;
    }

        .youtube .header img {
            float: left;
            margin-right: 10px;
            margin-bottom: 5px;
            max-width: 88px;
        }

        .youtube .header .title {
            margin-top: 0;
            margin-bottom: 0;
        }

        .youtube .header .description {
            margin-top: 0;
            margin-bottom: 0;
        }

    .youtube .categories {
        margin-top: 10px;
    }
    .youtube .categories .row {
        margin-left: 10px;
        margin-right: 10px;
    }

    .youtube ul.catlinks li[data-action='videocount'] {
        margin-top: 20px;
    }

    .youtube .videos .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .youtube .header .stats .badge {
        padding: 5px;
        margin-right: 0;
    }


    .youtube .video {
        padding: 5px;
        height: auto;
    }

        .youtube .video .preview {
            position: relative;
            background-color: rgb(0, 0, 0);
            margin-bottom: 10px;
        }

            .youtube .video .preview img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .youtube .video .preview .thumbnail {
                margin-bottom: 5px;
            }

        .youtube .video .details {
            margin-top:5px;
            line-height: 1.0em;
        }
        .youtube .video .duration, .youtube .video .new {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 3px;
            background-color: rgba(0, 0, 0, 0.77);
            color: white;
        }
        .youtube .video .new {
            background-color: #EF413E;
            bottom:auto;
            top:0;
            right: auto;
            left:0;
        }

        .youtube .video .title {
            white-space: nowrap;
            overflow: hidden;
            -webkit-text-overflow: ellipsis;
            -moz-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            line-height: 1.2em;
        }

        .youtube .video .stats {
            color: rgba(0, 0, 0, 0.77);
            font-size: .7em;
        }
